body{
  margin:0;
  font-family:Arial
  backgroung;
  color:
}
  Header{
  background:liner
  color:Pink
  text-align:center;
  padding:15px;
}
 nav{
   background:
   text-align:center
   padding:15px
 }
nav a{
  color:pink
  tect-decoration:none;
  margin:20px;
   
